__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.idea/
.vscode/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

build/
dist/
*.egg-info/

.env
.env.*

.mypy_cache/
.ruff_cache/

Thumbs.db
.DS_Store
